<div id="actionIconDropdown"
     [attr.data-toggle]="actionIcon.menu ? 'dropdown' : ''"
     (click)="actionIcon.menu ? createMenu() : doAction($event)"
     class="m-0 p-0 d-inline">
    <svg id="actionIconDropdown" [ngClass]="actionIcon.svgStyle">
        <style>
            svg {
                cursor: pointer;
                pointer-events: none;
            }
        </style>
        <use [attr.xlink:href]="actionIcon.icon"/>
    </svg>
    <span>{{ actionIcon.label }}</span>
</div>

<div *ngIf="actionIcon.menu" class="dropdown-menu" aria-labelledby="actionIconDropdown">
    <ng-template *ngIf="actionIcon.menu" #menuContainer></ng-template>
</div>
