<div class="card border w50">
    <div class="recipe-summary-header w-100">
        <app-action-bar class="recipe-summary-header-actionbar d-inline-block" [actionIcons$]="recipeSummary.actionBarItems$"></app-action-bar>
    </div>
    <div class="card-header card-header--padding">
        <div class="mt-1 d-flex justify-content-between">
            <app-action-icon [actionIcon]="eggTimer"></app-action-icon>
            <div>
                <ng-template ngFor let-categoryIcon [ngForOf]="recipeSummary.categoryIcons">
                    <app-action-icon [actionIcon]="categoryIcon"></app-action-icon>
                </ng-template>
            </div>
        </div>
        <div class="text-center">
            <strong>{{ recipeSummary.title }}</strong>
        </div>
    </div>
    <div class="card-body p-3">
        <div class="card-text">
            {{ recipeSummary.description }}
        </div>
    </div>
</div>
